{% extends 'base.html.twig' %}
{% block title %}
    Demande de réinitialisation de mot de passe
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block body %}
    <div class="ethereal-bg"></div>
    <div class="decorative-blob-1"></div>
    <div class="decorative-blob-2"></div>
    <main class="main-content">
        <div class="login-card">
            <div class="card-header">
                <h1 class="card-title">Réinitialisation du mot de passe</h1>
            </div>
            {{ form_start(passform, {'attr': {'class': 'login-form'}}) }}
            <div class="form-group">
                <div class="input-wrapper">
                    {{ form_row(passform.password) }}
                </div>
            </div>
            <button class="btn-submit" type="submit">Envoyer</button>
            {{ form_end(passform) }}
        </div>
    </main>
{% endblock %}



