{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-card">
            <header class="profile-header">
                <h1>Mon profil</h1>
                <p>{{ app.user.username }}</p>
            </header>
            <div class="form-section">
                {% embed 'views/form/template-form-participant.html.twig' with {'form': form} %}
                    {% block formTitle %}
                        <div style="height: 0; visibility: hidden;"></div>
                    {% endblock %}
                    {% block buttonLabel %}
                        Enregistrer
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}
