{% extends 'base.html.twig' %}


{% block title %}
{{ parent() }} | Accueil
{% endblock %}


{% block body %}
    <h1>Développez votre <span>réseau <strong>ENI</strong></span> en un clic. </h1>
    <p>La plateforme de curation privée exclusivement dédiée aux étudiants et alumni de l'ENI.<br> Retrouvez vos collègue de campus pour des expériences uniques.</p>
    <br>
    <a href='{{ path('app_login') }}' class="btn btn-gradient">Se connecter</a>
{% endblock %}
