{% extends 'base.html.twig' %}
{% block title %}
    Liste des campus
{% endblock %}

{% block body %}
<h2>Gérer les Campus</h2>

{% embed 'views/form/template-form-search-global.html.twig' with {form : campusForm} %}
    {% block formTitle %}Filtrer les campus{% endblock %}
    {% block buttonLabel %}
        Rechercher
    {% endblock %}
    {% block resultsLength %}
        {{ campus | length }}
    {% endblock %}
{% endembed %}

<section class="event-list">
    <table class="event-table sortable">
        <thead>
        <tr>
            <th title="trier par">Nom<span>&uarr;</span></th>
            <th style="text-align: right;">Actions <span>&uarr;</span></th>
        </tr>
        </thead>
        <tbody>
        {% include 'views/list/tous-campus-list.html.twig' %}
        </tbody>
    </table>
    {% endblock %}
