{% extends 'base.html.twig' %}
{% block title %}
    Créer un user
{% endblock %}

{% block body %}
    <h2>Création d'un utilisateur via un formulaire classique</h2>
    <br>
    {% embed 'views/form/template-form-participant.html.twig' with {form : form} %}
        {% block formTitle %}  Nouveau profil :  {% endblock %}
        {% block buttonLabel %}Valider{% endblock %}
    {% endembed %}
    <button><a href="{{ path('sortie_list') }}">Annuler</a></button>{% endblock %}

