{% extends 'base.html.twig' %}
{% block title %}
    Créer un user
{% endblock %}

{% block body %}
    <h2>Création d'un utilisateur via un formulaire classique</h2>
    <br>
    <h3>Formulaire en cours de création</h3>
{% endblock %}

