{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} | Création de sortie
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style_formulaire.css') }}">
{% endblock %}

{% block body %}
    <div>
        {% embed 'views/form/template-form-sortie.html.twig' %}
            {% block formTitle %}Création d'une sortie{% endblock %}
            {% block buttonLabel %}
                Enregistrer "brouillon"
            {% endblock %}
        {% endembed %}
    </div>

    <script>
        const dateHeureDebut = document.getElementById('sortie_dateHeureDebut');
        const dateLimiteInscription = document.getElementById('sortie_dateLimiteInscription');
        dateHeureDebut.addEventListener('change', () => {
            const dateDebut = dateHeureDebut.value.slice(0, 10);
            dateLimiteInscription.setAttribute('max', dateDebut);
            if (dateLimiteInscription.value > dateDebut) {
                dateLimiteInscription.value = dateDebut;
            }
        });
    </script>

{% endblock %}

{% block bonusjavascripts %}
    <script defer src="{{ asset('js/apiVilleEtLieux.js') }}"></script>
{% endblock %}
