{% extends 'base.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    {#    {% include 'views/list/pc-list-search.html.twig' %} #}
    {% embed 'views/form/template-form-search-sortie.html.twig' with {form : sortieForm} %}
        {% block formTitle %}Filtrer les sorties{% endblock %}
        {% block buttonLabel %}
            Rechercher
        {% endblock %}
        {% block sortieLength %}
            {{ sorties | length }}
        {% endblock %}
    {% endembed %}

    <section class="event-list">
        <table class="event-table sortable">
            <thead>
            <tr>
                <th>Nom de la sortie <span>&uarr;</span></th>
                <th>Date de la sortie <span>&uarr;</span></th>
                <th>Clôture <span>&uarr;</span></th>
                <th>Inscrits/Places</th>
                <th>État <span>&uarr;</span></th>
                <th style="text-align: center;">Inscrit <span>&uarr;</span></th>
                <th>Organisateur <span>&uarr;</span></th>
                <th>Actions <span>&uarr;</span></th>
            </tr>
            </thead>
            <tbody>
            {% include 'views/list/pc-list.html.twig' %}
            </tbody>
        </table>
    </section>
{% endblock %}
{% block bonusjavascripts %}
    <script defer src="{{ asset('js/trierLesTablesParTh.js') }}"></script>
    <script defer src="{{ asset('js/filtrerSorties.js') }}"></script>
{% endblock %}


