{% extends 'base.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    <!-- Results Table -->
    <div class="list-header">
        <div>
            <h1>Les sorties</h1>
            <p class="current-date">Mardi 21 Mai 2024</p>
        </div>
        <div class="stats-display">
            <span>Affichage</span>
            {# sortie length doit correspondre aux résultats #}
            <p><span>{{ sorties | length }}</span> sorties trouvées</p>
        </div>
    </div>
    {#    {% include 'views/list/pc-list-search.html.twig' %} #}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Search</button>
    {{ form_end(sortieForm) }}
    <section class="event-list">
        <table class="event-table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>État</th>
                <th style="text-align: center;">Inscrit</th>
                <th>Organisateur</th>
                <th style="text-align: right;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% include 'views/list/pc-list.html.twig' %}
            </tbody>
        </table>
    </section>
{% endblock %}



