{% extends 'base.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    {#    {% include 'views/list/pc-list-search.html.twig' %} #}
    {% embed 'views/form/template-form-search-sortie.html.twig' with {form : sortieForm} %}
        {% block formTitle %}Filtrer les sorties{% endblock %}
        {% block buttonLabel %}
            Rechercher
        {% endblock %}
        {% block sortieLength %}
            {{ sorties | length }}
        {% endblock %}
    {% endembed %}

    <section class="event-list">
        <table class="event-table sortable">
            <thead>
            <tr>
                <th>Nom de la sortie <span>&uarr;</span></th>
                <th>Date de la sortie <span>&uarr;</span></th>
                <th>Clôture <span>&uarr;</span></th>
                <th>Inscrits/Places</th>
                <th>État <span>&uarr;</span></th>
                <th style="text-align: center;">Inscrit <span>&uarr;</span></th>
                <th>Organisateur <span>&uarr;</span></th>
                <th style="text-align: right;">Actions <span>&uarr;</span></th>
            </tr>
            </thead>
            <tbody>
            {% include 'views/list/pc-list.html.twig' %}
            </tbody>
        </table>
    </section>
{% endblock %}
{% block bonusjavascripts %}
    <script defer>
        // https://github.com/VFDouglas/HTML-Order-Table-By-Column/blob/main/index.html
        (function trierLesTablesParTh() {
            document.querySelectorAll('th').forEach((element) => { // Table headers
                element.addEventListener('click', function () {
                    let table = this.closest('table');

                    // If the column is sortable
                    if (this.querySelector('span')) {
                        let order_icon = this.querySelector('span');
                        let order = encodeURI(order_icon.innerHTML).includes('%E2%86%91') ? 'desc' : 'asc';
                        let separator = '-----'; // Separate the value of it's index, so data keeps intact

                        let value_list = {}; // <tr> Object
                        let obj_key = []; // Values of selected column

                        let string_count = 0;
                        let number_count = 0;

                        // <tbody> rows
                        table.querySelectorAll('tbody tr').forEach((line, index_line) => {
                            // Value of each field
                            let key = line.children[element.cellIndex].textContent.toUpperCase();

                            // Check if value is date, numeric or string
                            if (line.children[element.cellIndex].hasAttribute('data-timestamp')) {
                                // if value is date, we store it's timestamp, so we can sort like a number
                                key = line.children[element.cellIndex].getAttribute('data-timestamp');
                            } else if (key.replace('-', '').match(/^[0-9,.]*$/g)) {
                                number_count++;
                            } else {
                                string_count++;
                            }

                            value_list[key + separator + index_line] = line.outerHTML.replace(/(\t)|(\n)/g, ''); // Adding <tr> to object
                            obj_key.push(key + separator + index_line);
                        });
                        if (string_count === 0) { // If all values are numeric
                            obj_key.sort(function (a, b) {
                                return a.split(separator)[0] - b.split(separator)[0];
                            });
                        } else {
                            obj_key.sort();
                        }

                        if (order === 'desc') {
                            obj_key.reverse();
                            order_icon.innerHTML = '&darr;';
                        } else {
                            order_icon.innerHTML = '&uarr;';
                        }

                        let html = '';
                        obj_key.forEach(function (chave) {
                            html += value_list[chave];
                        });
                        table.getElementsByTagName('tbody')[0].innerHTML = html;
                    }
                });
            });
        })();
    </script>
    <script>
        const searchInput = document.getElementById('sortie_search_nom');

        function filterSorties() {
            const query = searchInput.value.trim().toLowerCase();
            document.querySelectorAll('tbody .event-name a').forEach(a => {
                const tr = a.closest('tr');
                if (query === '' || a.innerText.trim().toLowerCase().includes(query)) {
                    tr.style.display = '';
                } else {
                    tr.style.display = 'none';
                }
            });
        }

        searchInput.addEventListener('keyup', filterSorties);
    </script>
{% endblock %}


