{% extends 'base.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/css-search-checkbox.css') }}">
{% endblock %}

{% block body %}
    {#    {% include 'views/list/pc-list-search.html.twig' %} #}
    {% embed 'views/form/template-form-search-sortie.html.twig' with {form : sortieForm} %}
        {% block formTitle %}Filtrer les sorties{% endblock %}
        {% block buttonLabel %}
            Rechercher
        {% endblock %}
        {% block resultsLength %}
            {{ sorties | length }}
        {% endblock %}
    {% endembed %}

    <section class="event-list">
        <table class="event-table sortable">
            <thead>
            <tr>
                <th title="trier par">Nom de la sortie <span>&uarr;</span></th>
                <th title="trier par">Date de la sortie <span>&uarr;</span></th>
                <th title="trier par">Clôture <span>&uarr;</span></th>
                <th title="trier par">Inscrits/Places</th>
                <th class="sortiePassee">État <span>&uarr;</span></th>
                <th style="text-align: center;">Inscrit <span>&uarr;</span></th>
                <th title="trier par">Organisateur <span>&uarr;</span></th>
                <th title="trier par">Actions <span>&uarr;</span></th>
            </tr>
            </thead>
            <tbody>
            {% include 'views/list/sortie-list.html.twig' %}
            </tbody>
        </table>
    </section>
{% endblock %}
{% block bonusjavascripts %}
    <script defer src="{{ asset('js/filtrerRecherchables.js') }}"></script>
{% endblock %}


