{% extends 'base.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    {#    {% include 'views/list/pc-list-search.html.twig' %} #}
    {% embed 'views/form/template-form-search-sortie.html.twig' with {form : sortieForm} %}
        {% block formTitle %}Filtrer les sorties{% endblock %}
        {% block buttonLabel %}
            Rechercher
        {% endblock %}
        {% block sortieLength %}
            {{ sorties | length }}
        {% endblock %}
    {% endembed %}
    <section class="event-list">
        <table class="event-table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>État</th>
                <th style="text-align: center;">Inscrit</th>
                <th>Organisateur</th>
                <th style="text-align: right;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% include 'views/list/pc-list.html.twig' %}
            </tbody>
        </table>
    </section>
{% endblock %}



