{% extends 'base.html.twig' %}

{% block body %}
    <!-- Results Table -->
    <div class="list-header">
        <div>
            <h1>Les sorties</h1>
            <p class="current-date">Mardi 21 Mai 2024</p>
        </div>
        <div class="stats-display">
            <span>Affichage</span>
            <p><span>{{ sorties | length }}</span> sorties trouvées</p>
        </div>
    </div>
    {% include 'views/list/pc-list-search.html.twig' %}
    {% include 'views/list/pc-list.html.twig' %}
{% endblock %}

    {% block title %}
        Liste des sorties
    {% endblock %}

