{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modification de sortie
{% endblock %}

{% block body %}
    <div>
        {% embed 'views/form/template-form-sortie.html.twig' %}
            {% block formTitle %}Création d'une sortie{% endblock %}

            {% block buttonLabel %}
                Enregistrer "brouillon"
            {% endblock %}

        {% endembed %}

        {% if is_granted('DELETE', sortie) %}
            <a href="{{ path('sortie_delete', {'id': sortie.id}) }}">Supprimer</a>
        {% endif %}

    </div>


{% endblock %}
