{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-widget'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
