{% form_theme form 'views/form/form-theme.html.twig' %}

<h2>{% block formTitle %}{% endblock %}</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
<div>
    <button>{% block buttonLabel %}{% endblock %}</button>
    <a class="btn" href="{{ path('sortie_list') }}">Annuler</a>
</div>
{{ form_end(form) }}
