body:has(#sortie_search_inscrit:checked) tr:has(.pasInscrit) {
    display: none;
}

body:has(#sortie_search_pasInscrit:checked) tr:has(.inscrit) {
    display: none;
}

body:has(#sortie_search_organisateur:checked) tr:not(:has(.organisateur)) {
    display: none;
}

body:has(#sortie_search_sortiesPassees:checked) tr:not(:has(.sortiePassee)) {
    display: none;
}
