:root {
    --background: #e4ffff;
    --error: #ba1a1a;
    --font-main: 'Manrope', sans-serif;
    --glass-bg: rgba(255, 255, 255, 0.8);
    --gradient-main: linear-gradient(135deg, #412b40 0%, #594157 100%);
    --on-background: #002021;
    --on-primary-fixed: #281428;
    --on-primary: #ffffff;
    --on-secondary: #ffffff;
    --on-surface-variant: #4c444a;
    --on-surface: #002021;
    --on-tertiary-fixed-variant: #354477;
    --on-tertiary-fixed: #041749;
    --outline-variant: #cfc3ca;
    --outline: #7e747b;
    --primary-container: #594157;
    --primary-fixed: #fad9f4;
    --primary: #412b40;
    --radius-default: 0.25rem;
    --radius-full: 9999px;
    --radius-lg: 0.5rem;
    --radius-xl: 1rem;
    --secondary-container: #c3bdfd;
    --secondary: #5c5891;
    --shadow-md: 0 10px 30px rgba(89, 65, 87, 0.08);
    --shadow-nav: 0 10px 30px rgba(89, 65, 87, 0.08);
    --shadow-sm: 0 10px 30px rgba(89, 65, 87, 0.04);
    --success: #059669;
    --surface-container-high: #c7f0f1;
    --surface-container-highest: #c1eaeb;
    --surface-container-low: #d2fbfc;
    --surface-container-lowest: #ffffff;
    --surface-container: #ccf6f7;
    --surface-variant: #c1eaeb;
    --surface: #e4ffff;
    --tertiary-fixed: #dce1ff;
    --tertiary: #1f2f61;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main), sans-serif;
    background-color: var(--surface);
    color: var(--on-surface);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    vertical-align: middle;
}

/* additional edits*/
a {
    text-decoration: none;
}
